<html>
<head>
<title>Honeymoon Test</title>
</head>
<body>
<div>
    <form action="/post" method="post">
        <input type="text" name="content"></input>
        <input type="submit"></input>
    </form>
</div>
</body>
</html>